<div class="card bg-dark text-white" style="border-radius: 0%;border:none;">
    <img class="card-img" src="https://media.nomadicmatt.com/bookaflight.jpg" alt="Card image" >
    <div class="card-img-overlay">
      <h2 class="card-title">About</h2>
      <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, 
          eveniet? Rem accusamus eum sapiente ratione unde, 
          rerum sit voluptatibus nulla! Debitis, impedit tenetur? Doloribus atque architecto voluptatem non modi et!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis,
         illo in! Magnam minima nulla optio excepturi autem tenetur, 
        eum, mollitia eos voluptas exercitationem perspiciatis quae, sed doloribus quibusdam. Et, molestiae!</p>
    </div>
  </div>
