

    <div class="container mt-4">
        
        <br>
        <table class="table table-hover table-bordered ">
            <thead class="thead-dark">
                <tr>
                    <th>Flight No</th>
                    <th>Flight Name</th>
                    <th>Departure City</th>
                    <th>Arrival City</th>
                    <th>Date</th>
                    <th>Fare</th>
                    <th>Update</th>
                    <th>Book Flight</th>
                    <th>Cancel</th>
                </tr>
            </thead>
            <tbody>
                
                    <td>123</td>
                    <td>Indigo</td>
                    <td>Hyderabad</td>
                    <td>Mumbai</td>
                    <td>29-11-2020</td>
                    <td>5000</td>
                
                    <td><button class="btn btn-outline-success" type="button">
                            <i class="far fa-edit"></i> Update</button></td>

                            <td><button class="btn btn-outline-primary" routerLink="/flight-booking" type="button">
                                <i class="far fa-edit"></i> Book</button></td>
                    <td><button class="btn btn-outline-danger" type="button" >
                                <i class="far fa-trash-alt"></i> Cancel</button></td>
            </tbody>
        </table>

    </div>

